/* styles.css */
.article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-containers {
  display: flex;
  gap: 20px; /* Espaciado entre los contenedores */
  width: 90%; /* Ajusta el ancho según tus necesidades */
  max-width: 1200px; /* Ajusta el ancho máximo según tus necesidades */
}

.add-article-container {
  flex: 1; /* El primer contenedor ocupa todo el espacio disponible */
  margin-right: 10px; /* Ajusta el margen derecho según tus necesidades */
}

/* Ajusta los estilos según tus necesidades */
.table {
  width: 100%;
  border-collapse: collapse;
}

/* Otros estilos para la tabla si es necesario */
